In [ ]:
# imports
import yfinance as yf
import pandas as pd

In [120]:
# Input the ticker symbols you want to take and save them into a data set this will be a list of dictionaries. 
tickers = ['AAPL','MSFT']
data = [yf.Ticker(t) for t in tickers]

In [121]:
rows = [list(d.info.values()) for d in data]
columns = [list(d.info.keys()) for d in data]

In [116]:
# Find the extra columns missing from one of the ticker data
for i in columns[1]:
    if i not in columns[0]:
        print(i)

fax

In [101]:
df = pd.DataFrame(data,index=tickers,columns = columns)

In [124]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
AAPL,95014,Technology,137000,"Apple Inc. designs, manufactures, and markets ...",Cupertino,408-996-1010,CA,United States,[],http://www.apple.com,...,1.590710e+09,2.480000e+00,NaN,0.0079,3.012492e+07,NaN,None,351.41,https://logo.clearbit.com/apple.com,None
MSFT,98052,Technology,144000,"Microsoft Corporation develops, licenses, and ...",Redmond,425-882-8080,WA,United States,[],http://www.microsoft.com,...,2.210000e-01,1.590710e+09,2.24,NaN,5.500000e-03,47763253.0,None,NaN,194,https://logo.clearbit.com/microsoft.com

## Exploring yfinance

In [123]:
# Show daily stock data for a given period
hist = data[0].history(period="max")
hist

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
1980-12-12    0.41    0.41    0.41    0.41  117258400        0.0           0.0
1980-12-15    0.39    0.39    0.38    0.38   43971200        0.0           0.0
1980-12-16    0.36    0.36    0.36    0.36   26432000        0.0           0.0
1980-12-17    0.37    0.37    0.37    0.37   21610400        0.0           0.0
1980-12-18    0.38    0.38    0.38    0.38   18362400        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2020-06-12  344.72  347.80  334.22  338.80   50001500        0.0           0.0
2020-06-15  333.25  345.68  332.58  342.99   34702200        0.0           0.0
2020-06-16  351.46  353.20  344.72  352.08   41357200        0.0           0.0
2020-06-17  355.15  355.40  351.09  351.59   28532000        0.0           0.0
2020-06-18  351.41  353.44  349.22  350.40   19421476        0.0           0.0

[9963 rows x 7 columns]