In [74]:
# imports
import yfinance as yf
import pandas as pd

In [87]:
# Input the ticker symbols you want to take and save them into a data set this will be a list of dictionaries. 

tickers = ['TSLA','AAPL','MSFT']

# take ticker list, output csvs with info
def tick_hist(tickers):
    for t in tickers:
        df = pd.DataFrame(yf.Ticker(t).history())
        df.columns = [i.lower() for i in df.columns]
        df.to_csv(f'./data/{t}_history.csv')
    return

tick_hist(tickers)

## Exploring yfinance

In [86]:
# Show daily stock data for a given period
df = pd.DataFrame(yf.Ticker(tickers[0]).history())
df.index()

DatetimeIndex(['2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17',
               '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [88]:
df.head()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-06-02  894.70  908.66  871.00  881.56  13565600          0             0
2020-06-03  888.12  897.94  880.10  882.96   7949500          0             0
2020-06-04  889.88  895.75  858.44  864.38   8887700          0             0
2020-06-05  877.84  886.52  866.20  885.66   7811900          0             0
2020-06-08  919.00  950.00  909.16  949.92  14174700          0             0