In [2]:
# imports
import yfinance as yf
import pandas as pd

In [7]:
# Input the ticker symbols you want to take and save them into a data set this will be a list of dictionaries. 

tickers = ['TSLA','AAPL','MSFT']

# take ticker list, output csvs with info
def tick_hist(tickers):
    for t in tickers:
        df = pd.DataFrame(yf.Ticker(t).history(period='max'))
        df.columns = [i.lower() for i in df.columns]
        df.to_csv(f'./data/{t}_history.csv')
    return

tick_hist(tickers)

## Exploring yfinance

In [6]:
yf.Ticker('TSLA').history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,19.00,25.00,17.54,23.89,18766300,0,0
2010-06-30,25.79,30.42,23.30,23.83,17187100,0,0
2010-07-01,25.00,25.92,20.27,21.96,8218800,0,0
2010-07-02,23.00,23.10,18.71,19.20,5139800,0,0
2010-07-06,20.00,20.00,15.83,16.11,6866900,0,0
...,...,...,...,...,...,...,...
2020-07-01,1083.00,1135.33,1080.50,1119.63,13326900,0,0
2020-07-02,1221.48,1228.00,1185.60,1208.66,17250100,0,0
2020-07-06,1276.69,1377.79,1266.04,1371.58,20569900,0,0
2020-07-07,1405.01,1429.50,1336.71,1389.86,21439900,0,0
2020-07-08,1405.01,1417.26,1391.00,1395.18,1585930,0,0

In [86]:
# Show daily stock data for a given period
df = pd.DataFrame(yf.Ticker(tickers[0]).history())
df.index()

DatetimeIndex(['2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17',
               '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [88]:
df.head()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-06-02  894.70  908.66  871.00  881.56  13565600          0             0
2020-06-03  888.12  897.94  880.10  882.96   7949500          0             0
2020-06-04  889.88  895.75  858.44  864.38   8887700          0             0
2020-06-05  877.84  886.52  866.20  885.66   7811900          0             0
2020-06-08  919.00  950.00  909.16  949.92  14174700          0             0

In [9]:
ticker = 'TSLA'

In [10]:
def get_stock(ticker):
        stock = yf.Ticker(ticker).history()
        stock.columns = [i.lower() for i in stock.columns]
        stock = stock.pct_change()
        stock[['dividends','stock splits']] = stock[['dividends','stock splits']].fillna(0)
        stock.dropna(inplace=True)

        return stock
    
stock = get_stock(ticker)
type(stock)

pandas.core.frame.DataFrame